
.modal-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:flex;
justify-content:center;
align-items:center;
z-index:1000;
}

.modal-box{
background: rgba(255, 255, 255, 0.05); /* more transparent */
backdrop-filter: blur(8px); /* slight reduction in blur to increase clarity behind */
-webkit-backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.15); /* lighter border */
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
padding:30px;
border-radius:15px;
text-align:center;
width:90%;
max-width:300px;
}

.modal-box h2 {
    color: #fff;
    margin-bottom: 20px;
}

.modal-box input{
width:100%;
padding:12px;
margin:15px 0;
background: rgba(255, 255, 255, 0.1);
color: #fff;
border:1px solid rgba(255, 255, 255, 0.5);
border-radius:8px;
}

.modal-box input::placeholder{
    color: #eee;
}
.modal-box button{
padding:10px 20px;
background:#db5034;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.modal-box button:hover{
background:#1abc9c;
}